extends layout
block content
    .panel.panel-default
        .panel-heading #{data.title}
        ul.list-group
            each item in data.list
                li.list-group-item
                    a(href="#{item.url}") #{item.title}
                    a.label.label-warning.pull-right(href="/cate/#{item.cate_id}") #{item.cate_name}
