extends layout
block content
    .row
        each cate in data 
            .col-md-6
                .panel.panel-default
                    .panel-heading #{cate.title}
                      a.pull-right(href="/cate/#{cate.id}") 
                        i.glyphicon.glyphicon-chevron-right
                    ul.list-group
                        each item in cate.list
                            li.list-group-item
                                a(href="#{item.url}") #{item.title}
                                a.label.label-warning.pull-right(href="/cate/#{item.cate_id}") #{item.cate_name}



